.container-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    width: 95%;
    padding-top: 10px;
    margin-top: 10px
}

.movie-visual-container {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.movie-detail-poster {
    display: flex;
}

.movie-lexical-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
    width: 95%;
}

.movies-info-line-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
    font-size: 16px;
    width: 95%;
}

.movie-detail-title {
    padding: 10px;
    padding-bottom: 0px;
    color: rgb(186, 186, 186);
    font-weight: bold;
    font-size: 40px;
}

.movie-detail-date {
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.movie-detail-time {
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.movie-detail-genre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    background-color: rgba(200, 215, 80, 0.5);
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    height: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.movie-detail-age {
    align-self: center;
    background-color: rgb(186, 186, 186, 0.5);
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    height: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.movie-detail-overview {
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

.movie-detail-comment-container {
    display: flex;
    flex-direction: column;
    border: thick double rgba(125, 140, 20);
    background-color: rgba(186, 186, 186, 0.2);
    width: 95%;
    margin-left: 10px;
    font-size: 100px;
    margin-bottom: 10px;
}

.movie-detail-comment {
    padding: 01px;
    margin: 5px;
    font-size: 18px;
    border-radius: 5px;
}

.movie-detail-user {
    font-weight: bold;
}

.movie-detail-note-button {
    background-color: rgba(200, 215, 80);
    font-weight: bolder;
    font-size: 15px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 10px;
    width: 80px;
    height: 30px;
}

.add-note {
    background-color: rgba(200, 215, 80);
}

.delete-note {
    background-color: rgba(200, 100, 160);
    align-self: flex-end;
}

.movie-sup-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
}

.sup-movie-button {
    background-color: rgba(200, 100, 160);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
    padding-left: 10px;
    margin: 5px;
    margin-top: 10px;
    width: 140px;
    height: 30px;
}

.movie-detail-star {
    padding: 1%;
    margin: 1%;
    font-size: 120%;
}

.movie-detail-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star {
    font-size: 35px;
}

.movie-details-star {
    color: rgba(200, 100, 160);
}