.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    width: 95%;
    padding-top: 10px;
}

.movie-visual-container {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.movie-detail-poster {
    display: flex;
}

.movie-lexical-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2%;
    width: 95%;
}

.movies-info-line-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3%;
    font-size: 16px;
    width: 95%;
}

.movie-detail-title {
    padding: 10px;
    padding-bottom: 0px;
    color: rgb(160, 160, 160);
    font-size: 50px;
}

.movie-detail-date {
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.movie-detail-time {
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    font-size: 18px;
}

.movie-detail-genre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    background-color: rgba(190, 255, 175, 0.5);
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    height: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.movie-detail-age {
    align-self: center;
    background-color: rgb(100, 100, 100);
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    height: 20px;
    font-size: 18px;
    border-radius: 5px;
}

.movie-detail-overview {
    padding: 10px;
    margin: 5px;
    font-size: 20px;
}

.movie-detail-cast-distribution {
    padding-left: 10px;
    margin: 5px;
    font-size: 15px;
}

movie-detail-voirplus-button {
    /* background-color: rgb(48, 176, 180);
    color: blue; */
    font-size: 20px;
    padding: 4px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.movie-detail-visible-text {
    font-weight: 500;
    color: rgba(190, 255, 175, 0.8);
}

.sup-movie-button {
    background-color: rgba(157, 82, 165, 0.8);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
    padding-left: 10px;
    margin: 5px;
    margin-top: 10px;
    width: 140px;
    height: 30px;
}

.movie-detail-star {

    padding: 1%;
    margin: 1%;
    font-size: 120%;
}

.movie-detail-espace-commentaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 1em auto;
}

.movie-detail-bandeau {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.movie-detail-commentaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.movide-detail-nouveau-commentaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    padding-right: 10px;
}

.movie-detail-user {
    font-size: 15px;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-detail-comment {
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    overflow-wrap: break-word;
    padding: 4px;
    border-radius: 5px;
    height: 60px;
}

.movide-detail-ancien-commentaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    padding-left: 10px;
}
