.user-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.user-text {
    padding-left: 50px;
    text-align: justify;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

.user-text-little {
    padding-left: 50px;
    text-align: justify;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.users-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: auto;
    row-gap: 10px;
    column-gap: 20px;
}

.add-user {
    background-color: rgb(186, 186, 186);
}

.log-sign-button{
    align-self: center;
}