.user-icon {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    color: black;
}

.known-user {
    background-color: rgba(200, 215, 80, 0.8);
}

.user-pseudo {

    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    max-width: 140px;
}