.Header-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(45, 70, 20);
  color: rgb(200, 210, 180);
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.right {
  display: flex;
  flex-direction: row;
}

.middle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: rgb(200, 210, 180);
  padding-top: 5px;
  padding-left: 10px;
}

.name-color {
  color: rgb(210, 180, 204);
}

.Header-container> :not(:last-child) {
  margin-right: 10px;
}

.header-profil {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(200, 210, 180);
  font-size: 30px;
  border-radius: 50%;
  background-color: beige;
  color:black;
}

.header-icon {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(200, 210, 180);
  padding-top: 5px;
  padding-left: 10px;
}

.Link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: rgb(200, 210, 180);
  padding-top: 5px;
  padding-left: 10px;
}