.Header-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(125, 140, 20);
  color: rgb(255, 255, 240);
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 10px;
  flex-direction: row;
}

.middle {
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: rgb(200, 215, 80);
  padding-left: 10px;
}

.name-color {
  color: rgb(200, 100, 160);
}

.Header-container> :not(:last-child) {
  margin-right: 10px;
}

.header-profil {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 240);
  color:black;
}

.header-icon {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 5px;
  padding-left: 10px;
}

.Link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  padding-left: 10px;
}